<html>
  <head>
    Monty Hall
  </head>
  <body>

  <h2>Monty Hall Simulator</h2>

  <div class="container">

    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

      <label for="simulationCount">No of simulations</label>
      <input type="text" id="simulationCount" formControlName="simulationCount">

      <label for="switchdoor">Choose whether to change the door</label>
      <select id="switchdoor" formControlName="switchdoor">
        <option value="1">Change</option>
        <option value="0">Keep</option>
      </select>

      <input type="submit" value="Submit"><br/><br/>

      <label for="wins">No of Winnings</label>
      <input type="text" readonly value="{{this.wins}}">

    </form>
  </div>

  </body>
</html>